.todo-list-item{
    display: flex;
padding: .3rem;
}
.todo-list-item button{
width: 35px;
}
.todo-list-item-label{
    flex:1 0;
    user-select: none;
    line-height: 2em;
    cursor: pointer;
}
.btn{
    margin-left: .9em;
}
.todo-list-item.important{
    font-weight: bold;
    color:steelblue
}
.todo-list-item.done{
    text-decoration: line-through;
}
